.modal {
    display: flex;
    justify-content: center;
    margin: 48px;
    position: fixed;
    top: 100px;
    left: 470px;
  }
  .modal-content {
    border: 1px solid black;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
    padding: 50px;
    margin-bottom: 12px;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
  }
  
  #email,
  #phone,
  #username,
  #dob {
    margin-bottom: 16px;
    width: 200px;
    border-radius: 5px;
  }
  